
<header>
    <h2>Cars</h2>
</header>

<div class="app-body-container">

    <div class="app-side-nav">
        <side-nav-bar></side-nav-bar>
    </div>

    <div class="app-body">
        <router-outlet></router-outlet>    
    </div>
</div>

<footer>
    This is footer
</footer>


