header {
    display: fixed;
    top: 0;
}

.app-body-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.app-side-nav {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.app-body {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}