<div *ngIf="car">
  
    <ul>
        <li>{{car.id}}</li>
        <li>{{car.make}}</li>
        <li>{{car.model}}</li>
    </ul>

    <h3>Photos</h3>

    <div class="photo-drop-zone" (click)="popupFileDialog()">
        <h3>Add Photo</h3>

        <input type="file" #fileUpload (change)="fileChange($event)"/>
    </div>

    <div>
        <div *ngFor="let photo of car.photos">
            <img [src]="photo.url" width="300px;" height="200px"/>
            <button (click)="deletePhoto(photo)">Delete</button>
        </div>
    </div>

</div>